<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Easy Learning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Easy Learning</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="secondary">
    <h4>¿Con que tipo de cuenta quieres ingresar?</h4>
  </ion-text>

  <ion-button size="large">Estudiante</ion-button>
  <p>o...</p>
  <ion-button size="large">Tutor</ion-button>


  <ion-text color="light">
    <p>Si luego quieres cambiar tu cuenta, lo puedes hacer</p>
    <p>desde configuraciones del perfil.</p>
  </ion-text>

  <h4>No tienes una cuenta?</h4>
  <ion-text color="success">
    <p>Sing Up</p>
  </ion-text>
</ion-content>
