 <ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      SIGN IN
</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/Logo.jpeg"></ion-img>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="warning" expand="block">Sign In</ion-button>
          <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </form>
  

  <app-explore-container name="SIGN IN"></app-explore-container>
</ion-content>
